<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWrG0hGamqtH9PGPZ09T8x7xErF3hUzks</string>
	<key>GCM_SENDER_ID</key>
	<string>688477755687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toktok-na24.app</string>
	<key>PROJECT_ID</key>
	<string>toktokna-10c14</string>
	<key>STORAGE_BUCKET</key>
	<string>toktokna-10c14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688477755687:ios:68e37baaf929fa3f0eb102</string>
</dict>
</plist>